body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height:auto;
    width: 100%;
    background-color: black;
}
#top_section{
    margin:5% 0 0 0;
}
#top_section ul li{
    list-style:none;

}
#top_section ul li::before{
    content:"";
    content:"✸ ";
    color:blueviolet;

}
#middle_item1{
    margin:5% 0 0 0;
    border:2px solid lightslategray;
    border-radius:10px;
    box-shadow:4px 4px 4px 4px blueviolet;
    width:60%;
}
#middle_item2{
    margin:4% 0 0 0;

}
#middle_item2 p{
    font-style:italic;

#middle_item3{
    margin:5% 0 0 0;
}
#middle_item3 .card-title{
    color:rgb(207, 21, 43);
}
#middle_item4{
    margin:5% 0 0 0;

}
#middle_item4 h4{
    font-style:italic;
}

#middle_item5 {
    margin: 5% 0 0 0;
    padding: 2% 8%;
    border: 2px solid lightslategray;
    border-radius: 10px;
    width: 50%;
}
#mid_item6{
    margin:5% 0 0 0;
    padding:2%;
    border: 2px solid red;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

